@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Victorian Demo";
  src: url("/fonts/VictorianDemo.ttf") format("truetype");
}

@font-face {
  font-family: "Victorian Decade";
  src: url("/fonts/VictorianDecade.ttf") format("truetype");
}

@font-face {
  font-family: "Butler";
  src: url("/fonts/Butler.ttf") format("truetype");
}

@font-face {
  font-family: "Butler Bold";
  src: url("/fonts/ButlerBold.ttf") format("truetype");
}

@font-face {
  font-family: "Butler Black";
  src: url("/fonts/ButlerBlack.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/xv.png");
  background-attachment: fixed;
}

/* FONTS */
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-butler {
  font-family: "Butler", sans-serif;
}

.font-butler-bold {
  font-family: "Butler Bold", sans-serif;
}

.font-butler-black {
  font-family: "Butler Black", sans-serif;
}

.font-victorian-demo {
  font-family: "Victorian Demo", sans-serif;
}

.font-victorian-decade {
  font-family: "Victorian Decade", sans-serif;
}

/* BACKGROUNDS */
.background-floral {
  @apply bg-[url('https://www.toptal.com/designers/subtlepatterns/uploads/xv.png')];
}

.dark .background-floral {
  @apply bg-[url('/images/dark_background.png')] bg-repeat bg-auto;
}

/* TEXT */
.text-color {
  @apply text-black;
}

.dark .text-color {
  @apply text-white;
}

/* ARROWS */
.arrow-color {
  @apply fill-black;
}

.dark .arrow-color {
  @apply fill-white;
}

.arrow-up-color {
  @apply fill-black stroke-black stroke-1;
}

.dark .arrow-up-color {
  @apply fill-white stroke-white stroke-1;
}

/* BUTTONS */
.button-color {
  @apply text-black border border-black hover:bg-black hover:text-white;
}

.dark .button-color {
  @apply text-white border border-white hover:bg-white hover:text-black;
}

/* LOGOS */
.logos {
  @apply fill-neutral-800;
}

.dark .logos {
  @apply fill-white;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

div.scroll-container {
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  width: 120px;
  padding: 10px 20px;
}

/* ANIMATE ON */
.about {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.about.show {
  transform: translateX(0);
  opacity: 1;
}

.projectsLeft {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  justify-items: start;
}

.projectsLeft.show {
  transform: translateX(0);
  opacity: 1;
}

.projectsRight {
  transform: translateX(-100px);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  justify-items: end;
}

.projectsRight.show {
  transform: translateX(0);
  opacity: 1;
}

.contact {
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.contact.show {
  transform: translateY(0);
  opacity: 1;
}
